 @font-face {

    src: url('./../../../src/fonts/sc.ttf');
    font-family: sc;
}

/*
.welcome {


    font-family: sc;
    margin-top: 16px;
   

}

.therooms {
    font-family: sc;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 3em;
}

.rooms{
    color: blue;
} */

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.imgowner{
    width: 300px;
    height:300px;
    border-radius: 50%;
    text-align: center;
    margin-left: 8px;
    box-shadow: 0 0 5px ,0 0 10px;

}

.ownerspic{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.ownername{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.onwerfname{
    letter-spacing: 3px;
    text-transform: capitalize;
    font-weight: 600;
}



@media (max-width : 400px){
    .imgowner{
        width: 200px;
        height:200px;
        border-radius: 50%;
    
    }

    .onwerfname{
        text-align: center;
    }


}


th{
    text-transform: capitalize;
}


#mail{
    text-transform: lowercase;
}


.ownerpic {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;

}

.nameofhim{
    width: 100%;
    text-align: center;
}

.malikkaphoto{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 3px , 0 0 5px, 0 0 7px;
}

.malikkaphotos{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttonss {
    display:flex;
 flex-direction: row;
 justify-content:space-around;
 align-items: center;
 margin: 6px;
}


th{
    transition: 0.2s;
}

td{
    transition: 0.2s;
}