extends ./base.pug

block title 
    title Feedback : The Rooms

block style
    style
        include ./assets/css/feedback.css
    style
        include ./assets/css/nav.css
block script
    script
        include ./assets/javascript/feedback.js


block content
    
    .spiner
      .spinner-grow.text-primary(role="status")
          span.sr-only Loading...
      .spinner-grow.text-secondary(role="status")
          span.sr-only Loading...
      .spinner-grow.text-success(role="status")
          span.sr-only Loading...
      .spinner-grow.text-danger(role="status")
          span.sr-only Loading...
      .spinner-grow.text-warning(role="status")
          span.sr-only Loading...
      .spinner-grow.text-info(role="status")
          span.sr-only Loading...
      .spinner-grow.text-light(role="status")
          span.sr-only Loading...
      .spinner-grow.text-dark(role="status")
          span.sr-only Loading...
    .navstcky
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          a.navbar-brand(href="/")
            img.d-inline-block.align-top(src="/../ico/logo.png" alt="" width="30" height="24")
            |             THE 
            span(style="color: darkblue;") ROOMS
          button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link.active(aria-current="page" href="/therooms/services")
                  i.fas.fa-info
                  |  Services
              li.nav-item
                a.nav-link(href="#")
                  i.fa.fa-gift
                  |  Offers
              li.nav-item
                a.nav-link(href="/contactUs")
                  i.fas.fa-phone
                  |  Contact us
              li.nav-item
                a.nav-link(href="#")
                  img#img.img-fluid(src="data:" + allinfo.img.ContentType + "; base64 ," + allinfo.img.data.toString('base64'), alt="User image" )
              li.nav-item.dropdown
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                 
                  |  #{allinfo.fname}
                ul.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                  li
                    a.dropdown-item(href="/therooms/" + "userProfile/" + id + "/?" + userProfile)
                      i.fas.fa-user
                      |  Profile
                  li
                    a.dropdown-item(href="/therooms/newusers")
                      i.fas.fa-heart
                      |  My wishlist
                  li
                    a.dropdown-item(href="#")
                      i.fas.fa-th-list
                      |  My Booking
                  
                  li
                    a.dropdown-item(href="/therooms/user" + "/logout/?" + urldataForLgout )
                      i.fas.fa-user-times
                      |  Logout
      // search bar
      // Image and text
      // Just an image
      nav.navbar.navbar-light.bg-light
        .container
          .container-fluid
            form.d-flex
              input.form-control.me-2(type="search" placeholder="Search (location)" aria-label="Search")
              button.btn.btn-outline-success(type="submit") Search

    .container.feed
        form(action="#", method="get")
            label.display-6(for="feedback") Feedback 
                i.fas.fa-pen 
            textarea.form-control(name="feedback", cols="30", rows="10" id="feedback" placeholder="write your valuable feedback")
            button.btn.btn-success(value="submit") Submit
            button.btn.btn-warning(value="reset") Reset


    

    .container-fluid.img
        marquee(behavior="scroll", direction="right" scrollamount="19")
            img.img-fluid(src="./../src/images/sketbord.jpg", alt="imag")
        hr

    .container
        ul
            li  Thanks for giving us feedback
            li  Soon we will try to give response on you feedback
            li  For any kind of quary 
                a(href="#") click here
